div.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 30px;
}
div.nav{
    background-color: #F1F1F1;
    text-align: center;
    padding :20px;
    position: relative;
    margin-top:10px;
}
div {
    margin:0px;
    padding:0px;

}
.content1{
    position: relative;
    margin-top:10px;
    padding:190px 120px;
    display: inline-block;
    background-color: #F1F1F1;
    text-align: center;
} 
div.main {
    position: relative;
    display:inline-block;
    padding:190px 329px;
    background-color: #F1F1F1;
    margin-top:10px;
    text-align: center;

}
div.footer {
    position: relative;
    margin-top:10px;
    background-color: #F1F1F1;
    text-align: center;
    padding: 30px;
}
div.content2{
    position: relative;
    display: inline-block;
   margin-top:10px;
    margin-right: 0px;
    padding:190px 120px;
    display: inline-block;
    background-color: #F1F1F1;
    text-align: center;
}  
  
